<div class="container">
  <h2>Create Shipping Company</h2>
  <form (ngSubmit)="createShippingCompany()">
    <div class="form-group">
      <label for="companyName">Company Name:</label>
      <input type="text" class="form-control" id="companyName" [(ngModel)]="shippingCompany.username" name="companyName" required>
    </div>
    <div class="form-group">
      <label for="address">Password:</label>
      <input type="text" class="form-control" id="address" [(ngModel)]="shippingCompany.password" name="address" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <button (click)="gotoAdminMenu(username)" class="btn btn-success">Back to Admin Menu</button>
</div>
