<label>Choose your Service</label>
<div class="container">
  <button (click)="gotoCreateSeller(this.username)" class="btn btn-success" style="margin-left: 10px">Create Selling Company Account</button>
  <button (click)="gotoCreateShipping(this.username)" class="btn btn-success" style="margin-left: 10px">Create Shipping Company Account</button>
  <button (click)="gotoListSeller(this.username)" class="btn btn-success" style="margin-left: 10px">List Selling Company Accounts</button>
  <button (click)="gotoListShipping(this.username)" class="btn btn-success" style="margin-left: 10px">List Shipping Company Accounts</button>
  <button (click)="gotoListCustomers(this.username)" class="btn btn-success" style="margin-left: 10px">List Customer Accounts</button>

</div>
